h1{
   white-space:nowrap;
}

body{
   width:780px;
}

#temp {
   float: right;
   font-size: x-large;
   color: green;
}

#status {
   color: blue;
}

#time {
   color: green;
}
#power {
   position: fixed;
   bottom: 0;
   right: 0;
}
